
*{
    background-color: bisque;
    border: 2px solid red;
}


h1,h3{
    color: darkslategrey;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
}

h3{
    font-size: large;
    font-weight: 500;
    text-align: left;
}

.mh{
    color:darkorange;
    font-size: medium;
    text-align: left;
}

img{
    display: block;
    width: 30%;
    height:30%;
    object-fit: contain;
    margin-left:auto;
    margin-right: auto;






